<!--Page 3-->
<div class="background-3">
    <div class="container" style="height: 100%;padding-left: 5%; padding-top: 13%;padding-right: 5%;">
      <div class="row" style="margin-top: 5%;">
        <div class="col-sm-7" style="width: 53%;">
        </div>

        <div class="col-sm">
            <div class="fs-204" style="color: white;">What's so spesial?</div>
            <div class="fs-101" style="color: white;letter-spacing: 5px;">FEATURES</div>
            <br>
            <div style="float: left;">
              <div class="border-6"></div>
              <div class="d-flex" style="height: 100px;">
                <div class="vr2"></div>
              </div>
              <div class="border-7"></div>
              <br>
              <br>
              <br>
              <div class="border-7"></div>
            </div>
              <div style="font-size: 20px; color: orange ; margin-left: 10%; letter-spacing: 5px;">TRADITIONAL GAME</div>
              <div style="font-size: 15px; color: white; margin-left: 10%; margin-top: 2%;">if you miss your childhood, we provide many traditional games here</div>
              <br>
              <div style="font-size: 20px; color: orange ; margin-left: 10%; letter-spacing: 5px; margin-top: 2.5%;">GAME SUIT</div>
              <br>
              <br>
              <div style="font-size: 20px; color: orange ; margin-left: 10%; letter-spacing: 5px; margin-top: 2%;">TBD</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>