<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=yes">
<title>Home Page</title>

<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/style2.css" rel="stylesheet" type="text/css">
</head>